body {
    background-image: url(./../img/fondo.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.fondo {
    background-color: white !important;
    height: 735px;
}
.fondo1 {
    background-color: white !important;
    margin-left: 100px;
    margin-right: 100px;
}
.clear{
    margin-top: 5px;
}
#footer {
    width: 100%;
    position: relative;
    bottom: 0;
}
.color1 {
    border-top:1px solid orange;
}