.body {
	background-image: url(./../img/indice.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.cards {
	margin-top: 100px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 100px;
}
.juegos {
	padding: 0;
	height: 400px;
}
